.kernel-view-row {
  width: 100%
}

.kernel-list-container {
  height: 185px;
  overflow-y: scroll;
}

.separator {
  border: 1px dashed;
}

.side-bar {
  background: #EAEAEA;
  height: 764px;
}

.main-section {
  background: #EEEEEE;
  height: 500px;
}
