.container {
  background-color: $grey50;
}

.top-row {
  padding: 24px;
}

.kernel-view-row {
  width: 100%
}

.kernel-input {
  height: 100%;
  text-align: center;
}

.kernel-view {
  height: 180px;
}

.kernel-list-container {
  overflow-y: scroll;
  height: 155px;
}

.side-bar {
  padding: 24px 0 0;
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
}

.main-section {
  position: relative;
}

.main-panel {
  padding: 24px !important;
}

#input-canvas {
  outline: 1px solid;
  width: 100%;
  height: 400px;
}

#output-canvas {
  outline: 1px solid;
  width: 100%;
  height: 400px;
}

.flex-row-reverse {
  display: flex;
  flex-direction: row-reverse;

  * {
    flex: 0 1 auto;
  }
}

.flex-row {
  display: flex;
  * {
    flex: 0 1 auto;
  }
}

.flex-col {
  display: flex;
  flex-direction: column;
  * {
    flex: 0 1 auto;
  }
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
  * {
    flex: 0 1 auto;
  }
}

.space-between {
  justify-content: space-between;
}

.right {
  float: right;
}

.speed-bar {
  margin-right: -24px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.history-item {
  flex-shrink: 0;
  align-items: center;
  padding: 6px;
  margin: 3px 6px;
  img {
    width: 100%;
  }
}

.history-title {
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 5px;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.24),
}

.history-delete {
  align-self: flex-end;
  margin-bottom: 5px;
  cursor: pointer;
}

.history-list {
  overflow-y: scroll;
  max-height: 500px;
}
